.git
.gitignore
.env
.env.*
docker-compose.yml
docker-compose.*.yml
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
database/database.sqlite
tests
phpunit.xml
*.md
.DS_Store
